<!doctype html>
<html lang="en">

<head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/staticFiles/outputstyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="he" style="margin-top: 20px;">
        <div class="title">
            <p class="heading"><span style="color: #cb2653;">Video/Image</span> Morphing Detection</p>
        </div>
        <div class="about"><a href="#aboutus" class="ab">ABOUT US</a></div>
    </div>
    <div class="op">
        <div class="video">
            <h5 style="text-align: center; font-size: 30px; color: #cb2653;">Uploaded Video</h5>
            <video width="500" controls>
                <source src="{{vpath}}" type="video/mp4">
            </video>
        </div>
        <div class="output">
            <div class="card">
                <h5> </h5>
                <p> <strong> Prediction  </strong><br>
                   <span style="font-size: 30px;">{{result}} %</span></p>
            </div>
        </div>
    </div><br><br>
    <section id="aboutus">
        <div>
            
            </div>

        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>