body{
    height: 100vh;
    width: auto;
}
.he{
    display: flex;
}
.about{
    margin-left: auto;
    margin-top: 20px;
    
}
.title{
    
    font-family: arial black, sans-serif;
    font-size: 35px;
}
.about{
    margin-left: auto;
    margin-top: 20px;
    
}
.ab{
    font-family: arial black, sans-serif;
    font-size: 15px;
    border-style: solid;
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    color: black;
}
.video{
    margin-left: 40px;
    margin-top: 100px;
}
.op{
    display: flex;
}
.op video{

    width: 800px;
    height: 400px;
}
.output{
    margin-left: 150px;
    margin-top: 200px;
    
}
.card{
    
    align-items: center;
    
    
   
    border-style: none;
}
.card p{
    margin-top: 80px;
    
    font-family: sans-serif;
    font-size: 20px;
}
.card p span{
    font-size: 20px;
}
.team{
    text-align: center  ;

}
.team h1{
   color: #cb2653;
   padding: 30px;
}
.team span{
    font-size: 25px;
    padding: 40px;
    
}s