
albumentations                
argon2-cffi                   
async-generator               
attrs                         
autopep8                      
av                            
backcall                      
backports.functools-lru-cache 
black                         
bleach                        
certifi                       
cffi                          
chardet                       
click                         
cloudpickle                   
colorama                      
cycler                        
cytoolz                       
dask                          
decorator                     
defusedxml                    
efficientnet-pytorch          
entrypoints                   
ffmpeg                        
ffmpeg-python                 
Flask                         
Flask-Cors                    
future                        
idna                          
imagecodecs-lite              
imageio                       
imgaug                        
importlib-metadata            
ipykernel                     
ipython                       
ipython-genutils              
ipywidgets                    
iso8601                       
itsdangerous                  
jedi                          
Jinja2                        
joblib                        
jsonschema                    
jupyter                       
jupyter-client                
jupyter-console               
jupyter-core                  
jupyterlab-pygments           
jupyterlab-widgets            
kiwisolver                    
m3u8                          
MarkupSafe                    
matplotlib                    
mistune                       
nbclient                      
nbconvert                     
nbformat                      
nest-asyncio                  
networkx                      
notebook                      
numpy                         
olefile                       
packaging                     
pandas                        
pandocfilters                 
parso                         
pathspec                      
pickleshare                   
Pillow                        
pip                           
prometheus-client             
prompt-toolkit                
protobuf                      
pycodestyle                   
pycparser                     
Pygments                      
pyparsing                     
PyQt5                         
PyQt5-sip                     
PyQtChart                     
PyQtWebEngine                 
pyrsistent                    
python-dateutil               
pytz                          
PyWavelets                    
pywin32                       
pywinpty                      
PyYAML                        
pyzmq                         
qtconsole                     
QtPy                          
regex                         
requests                      
scikit-image                  
scikit-learn                  
scipy                         
Send2Trash                    
setuptools                    
Shapely                       
six                           
tensorboardX                  
terminado                     
testpath                      
threadpoolctl                 
tifffile                      
toml                          
toolz                         
torch                         
torchvision                   
tornado                       
tqdm                          
traitlets                     
typed-ast                     
typing-extensions             
urllib3                       
wcwidth                       
webencodings                  
Werkzeug                      
wheel                         
widgetsnbextension            
wincertstore                  
zipp                          
